.primary {
  width: 164px;
  height: 48px;
  font-size: 13px;
  border-radius: 10px;
  color: white;
  background-color: #f4364c;
  display: flex;
  font-weight: bold;
  align-items: center;
  justify-content: center;
}
