.scrollableTabs {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  ul {
    display: flex;
    overflow-x: auto; /* Yatay kaydırma */
    scrollbar-width: thin; /* Firefox için ince scrollbar */
    -webkit-overflow-scrolling: touch; /* iOS için kaydırma */
    &::-webkit-scrollbar {
      display: none;
    }
    li {
      float: left;
      margin-right: 20px;
      color: #7d7d82;
      font-weight: bold;
      font-size: 18px;
      display: flex;
      flex: 0 0 auto;
      padding-top: 10px;
      padding-bottom: 10px;
      white-space: nowrap;
      &.active {
        color: #0e968b;
      }
    }
  }
}
