.scrollableTabs {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #ddd;
    bottom: 0;
    display: block;
    z-index: 2;
  }
  ul {
    display: flex;
    overflow-x: auto; /* Yatay kaydırma */
    scrollbar-width: none; /* Firefox için */
    -ms-overflow-style: none; /* Internet Explorer ve Edge için */
    -webkit-overflow-scrolling: touch; /* iOS için kaydırma */

    &::-webkit-scrollbar {
      display: none;
    }

    li {
      float: left;
      margin-right: 20px;
      color: #7d7d82;
      font-weight: bold;
      font-size: 18px;
      display: flex;
      padding-top: 10px;
      padding-bottom: 10px;
      white-space: nowrap;
    }
  }
}
