body,
html,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "HK Nova";
  font-size: 13px;
  line-height: 1;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
}

h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.block {
  display: block;
}

.container {
  padding: 20px 30px;
}
